body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.app {
  background: #23dba2;
  min-height: 100vh;
  height: auto;
  display: flex;
  position: relative;
}

.hidden {
  transform: translateX(-100%);
}
@media screen and (min-width: 700px) {
  .hidden {
    display: block;
  }
}

.display-none {
  display: none;
}
@media screen and (min-width: 700px) {
  .display-none {
    display: block;
  }
}

.all-tests-passed {
  text-align: center;
  padding-top: 100px;
}

.add-to-favourites {
  padding: 5px;
}

.menu {
  width: 100vw;
  height: 100%;
  position: relative;
}
@media screen and (min-width: 700px) {
  .menu {
    position: static;
    width: 300px;
  }
}
.menu .header {
  padding-top: 5px;
  height: 50px;
}
.menu .settings {
  position: absolute;
  top: 0;
  width: 300px;
  height: 100%;
  min-height: 100vh;
  z-index: 10;
  background: linear-gradient(to right, #23dba1 0%, #66f5a6 28%, #66f5a6 51%, #66f5a6 73%, #23dba1 100%);
  padding: 25px 0;
  text-align: center;
  color: #2c2c2c;
  transition-duration: 0.5s;
}
.menu .settings .settings-button {
  width: 90%;
  height: auto;
  padding: 10px;
  background: transparent;
  border: 1px solid #fff;
  width: 100px;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #fff;
  user-select: none;
  outline: none;
}
.menu .settings .settings-button:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}
.menu .settings .settings-button--pressed {
  box-shadow: inset 2px 2px 2px #7e7e7e;
}
.menu .settings .settings-button--pressed:active {
  transform: unset;
}
.menu .showSettings {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 0 5px 5px 0;
  color: #fff;
  cursor: pointer;
  transition-duration: 0.5s;
}
.menu .settingsOpened {
  transform: translateX(300px);
  border: 1px solid #2c2c2c;
  color: #2c2c2c;
  z-index: 15;
}
.menu .ovlp {
  padding: 50px 0;
  text-align: center;
  text-transform: uppercase;
  background: radial-gradient(ellipse at center, #66f5a7 0%, #66f5a7 36%, #23dba2 64%, #23dba2 100%);
  cursor: pointer;
}
.menu .ovlp:hover {
  background: radial-gradient(ellipse at center, #66f5a7 0%, #66f5a7 36%, #23dba2 64%, #fff 100%);
}
.menu .ovlp--active {
  background: radial-gradient(ellipse at center, #66f5a7 0%, #66f5a7 36%, #23dba2 64%, #fff 100%);
}

.main {
  background-color: #a3ffba;
  position: absolute;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}
@media screen and (min-width: 700px) {
  .main {
    position: relative;
    width: calc(100vw - 300px);
    transform: unset;
  }
}
.main .mainContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
.main .mainContainer .button--close {
  position: absolute;
  right: 0;
  width: 90%;
  height: auto;
  padding: 10px;
  background: transparent;
  border: 1px solid #fff;
  width: auto;
  height: auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #2e2e2e;
  z-index: 10;
}
@media screen and (min-width: 700px) {
  .main .mainContainer .button--close {
    display: none;
  }
}
.main .mainContainer .button--close:hover {
  cursor: pointer;
}

.mainContent {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.mainContent .mainContent__lessons {
  width: 100%;
}
.mainContent__ovlpTitle {
  font-size: 2em;
}
.mainContent__imageContainer {
  width: 340px;
  height: 348px;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 490px) {
  .mainContent__imageContainer {
    width: 440px;
    height: 450px;
  }
}
@media screen and (min-width: 700px) {
  .mainContent__imageContainer {
    width: 340px;
    height: 348px;
  }
}
@media screen and (min-width: 760px) {
  .mainContent__imageContainer {
    width: 440px;
    height: 450px;
  }
}
@media screen and (min-width: 1900px) {
  .mainContent__imageContainer {
    width: 550px;
    height: 563px;
  }
}
@media screen and (min-width: 2000px) {
  .mainContent__imageContainer {
    width: 600px;
    height: 614px;
  }
}
@media screen and (min-width: 3600px) {
  .mainContent__imageContainer {
    width: 1000px;
    height: 1023px;
  }
}
.mainContent__imageContainer .mainContent__englishWord {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.7em;
}
.mainContent__imageContainer .mainContent__polishWord {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2em;
}
.mainContent__imageContainer .mainContent__spelling {
  position: absolute;
  bottom: 25%;
  left: 20%;
  font-size: 1.2em;
}
.mainContent__imageContainer .mainContent__speaker-icon {
  position: absolute;
  bottom: 20%;
  right: 15%;
  cursor: pointer;
}
.mainContent__imageContainer .mainContent__speaker-icon:active {
  transform: scale(1.1);
}

.lessons {
  min-height: 100vh;
}

.speaker-icon {
  cursor: pointer;
}
.speaker-icon:active {
  transform: scale(1.1);
}

.text-input {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  margin: 1em 0;
  outline: none;
}

.input-button {
  width: 90%;
  height: auto;
  padding: 10px;
  background: transparent;
  border: 1px solid #fff;
  width: 100px;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #fff;
  user-select: none;
  outline: none;
  width: 200px;
  margin-bottom: 3em;
  border: 1px solid #7e7e7e;
  box-shadow: 2px 2px 2px #7e7e7e;
}
.input-button:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}

.navigation {
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.navigation--left, .navigation--right {
  padding: 15px;
  background-color: #23dba2;
  position: relative;
  user-select: none;
}
.navigation--left:active, .navigation--right:active {
  transform: scale(1.1);
}
.navigation--left:hover, .navigation--right:hover {
  cursor: pointer;
}
.navigation--left::before {
  content: "";
  position: absolute;
  top: -35px;
  left: -55px;
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 55px solid #23dba2;
}
.navigation--right::after {
  content: "";
  position: absolute;
  top: -35px;
  left: 55px;
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 55px solid #23dba2;
}
.navigation .button--goToTest {
  position: absolute;
  left: 40%;
  width: 150px;
  padding: 15px;
  border-radius: 5px;
  background-color: #23dba2;
  color: #fff;
  user-select: none;
  cursor: pointer;
}
.navigation .button--goToTest:active {
  transform: translate(2px, 2px);
}
@media screen and (min-width: 460px) {
  .navigation .button--goToTest {
    left: 60%;
  }
}

.advancedOptions {
  width: 100%;
  height: auto;
  padding: 2em 1em;
  background: linear-gradient(to right, #23dba1 0%, #66f5a6 28%, #66f5a6 51%, #66f5a6 73%, #23dba1 100%);
  color: #2c2c2c;
}
.advancedOptions__desc {
  padding: 25px 0 0 0;
  font-size: 1.2em;
  color: #003307;
}
.advancedOptions__option {
  padding: 1em 0;
}
.advancedOptions__option li {
  text-align: left;
}
.advancedOptions__option--list {
  margin: 0;
  display: inline-block;
}

.readingSection {
  text-align: center;
  padding: 20px 0;
}
.readingSection__word {
  margin: 10px 0;
  padding: 20px 5px 5px 5px;
  font-size: 1.2em;
}
@media screen and (min-width: 700px) {
  .readingSection__word {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
}
.readingSection__answers {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (min-width: 360px) {
  .readingSection__answers {
    width: 340px;
  }
}
.readingSection__answers .oneAnswer-button {
  width: 90%;
  height: auto;
  padding: 10px;
  background: transparent;
  border: 1px solid #fff;
  width: 100px;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #fff;
  user-select: none;
  outline: none;
  box-shadow: 2px 2px 2px #7e7e7e;
  width: 130px;
  height: 130px;
  padding: 15px;
  margin: 15px 5px;
  border: 1px solid #2c2c2c;
  display: table;
}
.readingSection__answers .oneAnswer-button:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}
@media screen and (min-width: 360px) {
  .readingSection__answers .oneAnswer-button {
    width: 150px;
    margin: 15px 10px;
  }
}
@media screen and (max-height: 700px) {
  .readingSection__answers .oneAnswer-button {
    height: 100px;
  }
}
.readingSection__answers .oneAnswer-button--pressed {
  box-shadow: inset 2px 2px 2px #7e7e7e;
}
.readingSection__answers .oneAnswer-button--pressed:active {
  transform: unset;
}
.readingSection__answers .oneAnswer-button p {
  display: table-cell;
  vertical-align: middle;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

.grayColor {
  color: #2c2c2c;
}

.testSection {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.testSection__section {
  height: calc(100vh / 3);
  position: relative;
}
.testSection__section .testSection__content {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  padding: 2em;
  border-bottom: 1px solid gray;
  cursor: pointer;
}
@media screen and (min-width: 450px) {
  .testSection__section .testSection__content {
    width: 400px;
  }
}

.testSection {
  min-height: 100vh;
}
.testSection .speaker-icon {
  position: absolute;
  top: 5px;
  left: 5px;
}
.testSection .repetition__button {
  width: 90%;
  height: auto;
  padding: 10px;
  background: transparent;
  border: 1px solid #fff;
  width: 100px;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #fff;
  user-select: none;
  outline: none;
  border: 1px solid #2e2e2e;
  box-shadow: 2px 2px 2px #7e7e7e;
  margin: 20px 10px;
}
.testSection .repetition__button:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}
@media screen and (min-width: 700px) {
  .testSection .repetition__button {
    margin: 50px 10px;
  }
}
.testSection .repetition__button-clicked {
  box-shadow: inset 2px 2px 2px #7e7e7e;
  box-shadow: inset 2px 2px 2px #7e7e7e;
}
.testSection .repetition__button-clicked:active {
  transform: unset;
}

.display-points {
  padding: 10px;
}

.score {
  margin-top: 50px;
}
.score__element--button {
  width: 90%;
  height: auto;
  padding: 10px;
  background: transparent;
  border: 1px solid #fff;
  width: 100px;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #fff;
  user-select: none;
  outline: none;
  border: 1px solid #2e2e2e;
  box-shadow: 2px 2px 2px #7e7e7e;
  width: 200px;
  margin-top: 50px;
}
.score__element--button:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}

.dictionarySection {
  padding-top: 40px;
  background-color: #fff;
}
@media screen and (min-width: 700px) {
  .dictionarySection {
    padding-top: 0;
  }
}
.dictionarySection .dictionary-list-element {
  list-style: none;
  border-bottom: 1px solid gray;
}
.dictionarySection .dictionary-list-element__top {
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: white;
}
.dictionarySection .dictionary-list-element__add-to-favourites {
  cursor: pointer;
}
.dictionarySection .dictionary-list-element__add-to-favourites:active {
  transform: scale(1.1);
}
.dictionarySection .dictionary-list-element__word {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  cursor: pointer;
}
.dictionarySection .dictionary-list-element__word--word {
  font-size: 1.2em;
  font-weight: bold;
}
.dictionarySection .dictionary-list-element__word .arrow-down-icon {
  position: relative;
  left: 50%;
}
.dictionarySection .dictionary-list-element__speak-passed {
  display: flex;
}
.dictionarySection .dictionary-list-element__speak-passed .checkBox {
  position: relative;
  width: 45px;
}
.dictionarySection .dictionary-list-element__speak-passed .checkBox img {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.dictionarySection .dictionary-list-element__bottom {
  text-align: center;
}
.dictionarySection .dictionary-list-element__desc {
  color: #003307;
  padding-top: 30px;
}
.dictionarySection .dictionary-list-element__option {
  color: #2c2c2c;
  padding: 0 5px;
}
.dictionarySection .dictionary-list-element__option li {
  text-align: left;
}

.dictionary-hidden {
  display: none;
}

/*# sourceMappingURL=index.css.map */
