@import "variables"; 
@import "mixins"; 

.advancedOptions {
    width: 100%;
    height: auto;
    padding: 2em 1em;
    background: $background-color-advanced-options-col;
    color: $grayTextColor;

    &__desc {
        padding: 25px 0 0 0;
        font-size: 1.2em;
        color: $greenTextColor;
    }

    &__option {
        padding: 1em 0;

        li {
            text-align: left;
        }
    }

    &__option--list {
        margin: 0;
        display: inline-block;
    }
}