@import "variables"; 
@import "mixins"; 

.dictionarySection {
    padding-top: 40px;
    background-color: $background-color-dictionary;

    @include mediaQuery(700px) {
       padding-top: 0;
    }

    .dictionary-list-element {
        list-style: none;
        border-bottom: 1px solid gray;

        &__top {
            display: flex;
            align-items: center;
            padding: 5px;
            padding-left: 10px;
            background-color: white;
        }

        &__add-to-favourites {
            cursor: pointer;

            &:active {
                transform: scale(1.1);
            }
        }

        &__word {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 15px;
            cursor: pointer;

            &--word {
                font-size: 1.2em;
                font-weight: bold;
            }
        }

        &__speak-passed {
            display: flex;

            .checkBox {
                position: relative;
                width: $checkBoxWidth;
                padding-left: 10px;

                img {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        
        &__bottom {

        }
    }
}

.dictionary-hidden {
    display: none;
}