@import "variables"; 
@import "mixins"; 

.dictionarySection {
    padding-top: 40px;
    background-color: $background-color-dictionary;

    @include mediaQuery(700px) {
       padding-top: 0;
    }

    .dictionary-list-element {
        list-style: none;
        border-bottom: 1px solid gray;

        &__top {
            display: flex;
            align-items: center;
            padding-left: 10px;
            background-color: white;
        }

        &__add-to-favourites {
            cursor: pointer;

            &:active {
                transform: scale(1.1);
            }
        }

        &__word {
            // display: flex;
            // flex-direction: column;
            width: 100%;
            height: 100%;
            padding-left: 15px;
            cursor: pointer;

            &--word {
                font-size: 1.2em;
                font-weight: bold;
            }

            .arrow-down-icon {
                position: relative;
                left: 50%;
                //transform: translateX(-50%);
            }
        }

        &__speak-passed {
            display: flex;

            .checkBox {
                position: relative;
                width: $checkBoxWidth;

                img {
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                }
            }
        }

        &__bottom {
            text-align: center;
        }
        
        &__desc {
            color: $greenTextColor;
            padding-top: 30px;
        }

        &__option {
            color: $grayTextColor;
            padding: 0 5px;

            li {
                text-align: left;
            }
        }
    }
}

.dictionary-hidden {
    display: none;
}