@import "variables"; 
@import "mixins"; 

body {
    margin: 0;
    padding: 0;

    @include mediaQuery(400px) {
       // overflow-x: hidden;
    }
    // background-color: $background-color;
}

* {
    box-sizing: border-box;
}

.app {
    background: $background-color-menu;
    min-height: 100vh;
    height: auto;
    display: flex;
    position: relative;
}

.hidden {
    transform: translateX(-100%);
    //display: none;
    @include mediaQuery(700px) {
       display: block;
    }
}

.visible {
    //transform: translateX(0);
}

.all-tests-passed {
    text-align: center;
    margin-top: 100px;
}

@import "menu";
@import "main";
@import "lessons";
@import "navigation";
@import "advancedOptions";
@import "reading";
@import "test";
@import "testsSection";