@import "variables"; 
@import "mixins"; 

.menu {
    width: 100vw;
    height: 100%;
    //z-index: 6;
    position: relative;

    @include mediaQuery(700px) {
        position: static;
        width: 300px;
    }

    .header {
        padding-top:5px;
        height: 50px;
    }

    .settings {
        position: absolute;
        top: 0;
        width: $settingsWidth;
        height: 100%;
        z-index: 10;
        background: $background-color-advanced-options-col;
        padding: 25px 0;
        text-align: center;
        color: $grayTextColor;

        .settings-button {
            @include settings-button;
        }

        .settings-button--pressed {
            @include settings-button--pressed;
        }
    }

    .showSettings {
        position: absolute;
        top: 0;
        padding: 10px 15px;
        border: 1px solid $buttonsBorder;
        border-radius: 0 5px 5px 0;
        color: $buttonsBorder;
        cursor: pointer;
    }

    .settingsOpened {
        left: $settingsWidth;
        border: 1px solid $grayTextColor;
        color: $grayTextColor;
        z-index: 15;
    }

    .ovlp {
        padding: 50px 0;
        text-align: center;
        text-transform: uppercase;
        background: $background-color-ovlp;
        cursor: pointer;

        &:hover {
            background: $background-color-ovlp-hover; 
        }
    }

    .ovlp--active {
        background: $background-color-ovlp-hover;
    }
}

