@import "variables"; 

@mixin mediaQuery ($arg) {
	@media screen and (min-width: $arg) {
		@content;
	}
}

@mixin mediaQueryHeight ($arg) {
	@media screen and (max-height: $arg) {
		@content;
	}
}

@mixin button {
    width: 90%;
    height: auto;
    padding: 10px;
    background: transparent;
    border: 1px solid $buttonsBorder;
}

@mixin buttonClose {
    width: auto;
    height: auto;
    padding: 10px 20px;
    border-radius: 5px;
}

@mixin settings-button {
    @include button;
    width: 100px;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #fff;
    user-select: none;

    &:active{
        transform: translate(2px, 2px);
        box-shadow: none;
    }
}

@mixin settings-button--pressed {
    box-shadow: inset 2px 2px 2px $buttonShadow;

    &:active{
        transform: unset;
    }
}
