@import "variables"; 
@import "mixins"; 

.readingSection {
    text-align: center;
    padding: 20px 0;

    &__word {
        margin: 10px 0;
        padding: 20px 5px 5px 5px;
        font-size: 1.2em;

        @include mediaQuery(700px) {
            font-size: 1.5em;
            margin-bottom: 30px;
        }
    }

    &__answers {
        width: 320px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;

        @include mediaQuery(360px) {
            width: 340px;
        }

        .oneAnswer-button {
            @include settings-button;
            box-shadow: 2px 2px 2px $buttonShadow;
            width: 130px;
            height: 130px;
            padding: 15px;
            margin: 15px 5px;
            border: 1px solid $grayTextColor;
            display: table;

            @include mediaQuery(360px) {
                width: 150px;
                margin: 15px 10px;
            }

            @include mediaQueryHeight(700px) {
                height: 100px;                      // mQ: max-height 700 px
            }

            &--pressed {
                @include settings-button--pressed;
            }

            p {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}

.redColor {
    color: red;
}

.greenColor {
    color: green;
}

.grayColor {
    color: $grayTextColor;
}